.add-remove {
	color: #fff;
	text-align: center;
	width: 8rem;
	height: 3rem;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 7px;
	font-size: 1.125rem;
	margin: 0 auto;
}
